{% extends "template.html" %}
{% block conteudo %}
        <table class="table table-striped table-responsive table-bordered">
            <thead class="thead-default">
                <tr>
                    <th>Tipo de Serviço</th>
                    <th>descrição do problema</th>
                    <th>Data da Solicitação</th>
                </tr>
            </thead>
            <tbody>
                {% for solicitacao in demanda %}
                <tr>
                    <td>{{ solicitacao[1]}}</td>
                    <td>{{ solicitacao[2]}}</td>
                    <td>{{ solicitacao[3]}}</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
{% endblock %}